<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Uncomment this to change the log path
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
           initializeData="BinScope.log"   traceOutputOptions="Timestamp"  />
        -->
        <add name="myDefaultListener"
          type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>